@model IEnumerable<Amigos.Models.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutImagesTable.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table" id="imageIndexTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<script>
    $(document).ready(function () {
        $('#imageIndexTable').DataTable();
    });
</script>